body{
    margin: 50px 100px;
    width: 319px;
    font-family: 'Inter', sans-serif;
    background-color: #404457;

}

/*----------Infos----------*/
.info{
    text-align: center;
    color: #FFFFFF;
    background-color: #262833;
}

.info--photo{
    border: 1px solid #262833;
    border-top-right-radius: 4%;
    border-top-left-radius: 4%;
    
}

.info--nom{
    margin-top: 15px;
    margin-bottom: 0px;
    font-weight: 700;
    font-size: 25px;
}

.info--ocupation{
    margin-top: 3px;
    margin-bottom: 0px;
    font-size: 16px;
    font-weight: 200;
    color: #F3BF99;
}

.info--site{
    margin-top: 5px;
    margin-bottom: 0px;
    color: #FFFFFF;
    text-decoration: none;
    font-weight: normal;
    font-size: 13px;
}

.info--btn{
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 5px 110px;
}

.info--mail-logo{
    margin:0px;
}

.info--mail-text{
    margin: 0px;
    margin-left: 5px;
    display: inline-block;
}

/*---------A propos *--------------*/
.about{
    background-color: #262833;
    padding: 20px 30px 10px 30px;
    color: #FFFFFF;
}

.about--titre{
    margin: 0px;
    font-size: 16;
    font-weight: 500;
}

.about--text{
    font-size: 12px;
    line-height: 1.2rem;
    text-align: justify;
    margin-bottom: 0px;
}

/*-----------Infos------------------*/
.interest{
    background-color: #262833;
    padding: 20px 30px 15px 30px;
    color: #FFFFFF;
}

.interest--titre{
    margin: 0px;
    font-size: 16;
    font-weight: 500;
}

.interest--text{
    font-size: 12px;
    line-height: 1.2rem;
    text-align: justify;
}

/*-----------Footer------------------*/

footer{
    background-color: #161619;
    height: 49px;
    text-align: center;
    padding-top: 15px;
    padding-left: 75px ;
    display:flex;
    border-bottom-right-radius: 4%;
    border-bottom-left-radius: 4%;
}

.footer--logo{
    width: 32px;
    margin-left: 30px;
}